{% extends 'thome.html'%}
{% load static %}
{% block content %}
<section>
	<h1 style="font-weight: 800;">Profile</h1>
    <div style=" margin:50px; width: 500px;">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Teacher</th>
          <th></th>

        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
            <td>Name</td>
          <td>{{request.user.tutor.name}}</td>
        </tr>
                <tr>

             <td>Phone</td>
             <td>{{request.user.tutor.phone}}</td>
        </tr>
                <tr>
                    <td>Email</td>
             <td>{{request.user.tutor.email}}</td>
        </tr>
              <tr>
          <td></td>
          <td><a class="list-button" href="/thome/profile/update">Update Details</a> </td>
        </tr>

      </tbody>
    </table>
  </div>
        </div>
</section>
 <div class="helper">
    Online Exam
		<span>Breakpoints on 900px and 400px</span>
  </div>
{% endblock %}